---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import Card from '../components/Card.astro';
import SocialLink from '../components/SocialLink.astro';

import work from '../utils/work.json';
import type {Work} from '../utils/work';
import SectionHeader from '../components/SectionHeader.astro';

const projects: Work[] = work.projects;
---

<Layout title='Dylan Reed | Software Engineer Portfolio'>
  <main>
    <section class='md:mt-12 w-full flex flex-col'>
      <div class='flex flex-col md:flex-row'>
        <div class='py-4 md:py-0 flex flex-col justify-between w-full'>
          <div class='h-80 overflow-hidden rounded-lg w-full mb-4'>
            <Image
              src='/assets/dyl_work.jpg'
              alt='Building and grinding in SF.'
              class='object-cover w-full h-full object-bottom'
              width={500}
              height={500}
            />
          </div>
          <div class='flex flex-col gap-2'>
            <div class='flex flex-col gap-2'>
              <ul class='flex flex-1'>
                <li>
                  <SocialLink
                    icon='ph-fill ph-linkedin-logo'
                    url='https://linkedin.com/in/dylanreedx'
                  />
                </li>
                <li>
                  <SocialLink
                    icon='ph-fill ph-twitter-logo'
                    url='https://twitter.com/dylanreedx'
                  />
                </li>
                <li>
                  <SocialLink
                    icon='ph-fill ph-github-logo'
                    url='https://github.com/dylanreedx'
                  />
                </li>
                <li>
                  <SocialLink
                    icon='ph-fill ph-twitch-logo'
                    url='https://twitch.tv/dylancodes'
                  />
                </li>
              </ul>
              <h1 class='text-stone-100 text-4xl font-semibold'>
                👋 Hey! I'm Dylan.
              </h1>
            </div>
            <p class='text-sm md:text-xl text-stone-400'>
              I'm a software engineer based in Canada. I love building &
              learning.
            </p>
          </div>

          <a
            href='/about'
            class='flex flex-1 justify-center gap-6 font-semibold text-stone-100 mt-4 border-[0.5px] border-stone-400/25 p-4 rounded-xl hover:bg-stone-600/15 transition-all ease-in-out duration-100'
            >About Me
            <span>&rarr;</span>
          </a>
        </div>
      </div>
    </section>
    <section class='grid grid-cols-1 md:grid-cols-2 gap-4 mt-12'>
      <Image
        src='/assets/kah_dyl2.jpg'
        alt='Coworking in SF.'
        class='rounded-lg col-span-1 object-cover h-full'
        width={500}
        height={500}
      />
      <Image
        src='/assets/kah_dyl1.jpg'
        alt='Building in SF.'
        class='col-span-1 rounded-lg'
        width={500}
        height={500}
      />
      <Image
        src='/assets/dyl_smile.jpg'
        alt='Building in SF pt.2.'
        class='col-span-1 rounded-lg'
        width={500}
        height={500}
      />
      <Image
        src='/assets/kah_dyl3.jpg'
        alt='Presenting Gymlink in SF.'
        class='col-span-1 rounded-lg h-full object-cover'
        width={500}
        height={500}
      />
    </section>
    <section class='my-12'>
      <SectionHeader title='Recent Work' />
      <ul class='grid grid-cols-1 md:grid-cols-2 gap-4'>
        {
          projects.map((project: Work) => (
            <Card
              title={project.title}
              description={project.description}
              url={project.url}
              tags={project.tags}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
